<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Meus Livros</h1>

    <ul>
        {% for livro in livros %}
            <li>
            <strong>{{ livro.titulo }}</strong> - 
            
            {% for autor in livro.autores_temp.all %}
                <a href="{% url 'detalhes' id=autor.id %}">{{ autor }}</a>{% if not forloop.last %}, {% endif %}
            {% empty %}
                <span>sem autor</span>
            {% endfor %}
            
            ({{ livro.ano_publicado }})
            
            {% if livro.disponivel %}
                <span>[Disponível]</span>
            {% else %}
                <span>[Indisponível]</span>
            {% endif %}
            </li>
        {% empty %}
            <li>Nenhum livro cadastrado.</li>
        {% endfor %}
    </ul>
</body>
</html>